/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #fafbeb;
	--color-primary-100: #f1f5cc;
	--color-primary-200: #e8ed9b;
	--color-primary-300: #e5e779;
	--color-primary-400: #d9d536;
	--color-primary-500: #c9be29;
	--color-primary-600: #ad9921;
	--color-primary-700: #8b721d;
	--color-primary-800: #745b1f;
	--color-primary-900: #634c20;
	--color-primary-950: #39280f;

	--color-gray-50: #f9faf9;
	--color-gray-100: #f4f5f4;
	--color-gray-200: #e7e7e4;
	--color-gray-300: #d6d6d1;
	--color-gray-400: #a8a89e;
	--color-gray-500: #77786c;
	--color-gray-600: #55574e;
	--color-gray-700: #3a3b34;
	--color-gray-800: #292824;
	--color-gray-900: #1c1c17;
	--color-gray-950: #0c0c09;
}


:root {
	--accent: #d9d536;
	--accent-dark: #745b1f;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: "nunito";
	src: url("/fonts/nunito.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "nunito";
	src: url("/fonts/nunito.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "nunito", sans-serif;
}
main {
	width: 100%;
}
@media (min-width: 640px) {
    .main {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .main {
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .main {
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .main {
        max-width: 1280px
    }
}

@media (min-width: 1536px) {
    .main {
        max-width: 1536px
    }
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
